In [351]:
# import streamlit as st
import numpy as np
import pandas as pd

# csv(.csv)の読み込み
data = pd.read_csv('data.csv')
data

              日付  平均気温(℃)  均質番号
0       2000/1/1      8.6     1
1       2000/1/2      6.9     1
2       2000/1/3      9.2     1
3       2000/1/4      9.8     1
4       2000/1/5      9.3     1
...          ...      ...   ...
8761  2023/12/27      8.4     2
8762  2023/12/28      7.0     2
8763  2023/12/29      7.8     2
8764  2023/12/30      9.0     2
8765  2023/12/31      9.2     2

[8766 rows x 3 columns]

In [352]:
# 日付、平均気温のみ
df = data.drop(data.columns[[-1]], axis=1)
df

              日付  平均気温(℃)
0       2000/1/1      8.6
1       2000/1/2      6.9
2       2000/1/3      9.2
3       2000/1/4      9.8
4       2000/1/5      9.3
...          ...      ...
8761  2023/12/27      8.4
8762  2023/12/28      7.0
8763  2023/12/29      7.8
8764  2023/12/30      9.0
8765  2023/12/31      9.2

[8766 rows x 2 columns]

In [353]:
# 2020/1/1 -> 2020-1-1に変換

for i in range(len(df)):
    if '/' in df.iat[i,0]:
        df.iat[i,0] = df.iat[i,0].replace('/','-')

df

              日付  平均気温(℃)
0       2000-1-1      8.6
1       2000-1-2      6.9
2       2000-1-3      9.2
3       2000-1-4      9.8
4       2000-1-5      9.3
...          ...      ...
8761  2023-12-27      8.4
8762  2023-12-28      7.0
8763  2023-12-29      7.8
8764  2023-12-30      9.0
8765  2023-12-31      9.2

[8766 rows x 2 columns]

In [354]:
df['日付'] = pd.to_datetime(df['日付'])
df

             日付  平均気温(℃)
0    2000-01-01      8.6
1    2000-01-02      6.9
2    2000-01-03      9.2
3    2000-01-04      9.8
4    2000-01-05      9.3
...         ...      ...
8761 2023-12-27      8.4
8762 2023-12-28      7.0
8763 2023-12-29      7.8
8764 2023-12-30      9.0
8765 2023-12-31      9.2

[8766 rows x 2 columns]

In [355]:
df['年'] = df['日付'].dt.year
df['月'] = df['日付'].dt.month
df['日'] = df['日付'].dt.day
df

             日付  平均気温(℃)     年   月   日
0    2000-01-01      8.6  2000   1   1
1    2000-01-02      6.9  2000   1   2
2    2000-01-03      9.2  2000   1   3
3    2000-01-04      9.8  2000   1   4
4    2000-01-05      9.3  2000   1   5
...         ...      ...   ...  ..  ..
8761 2023-12-27      8.4  2023  12  27
8762 2023-12-28      7.0  2023  12  28
8763 2023-12-29      7.8  2023  12  29
8764 2023-12-30      9.0  2023  12  30
8765 2023-12-31      9.2  2023  12  31

[8766 rows x 5 columns]

In [356]:
df_new = df.reindex(columns=['日付','年', '月', '日' ,'平均気温(℃)' ])
df_new

             日付     年   月   日  平均気温(℃)
0    2000-01-01  2000   1   1      8.6
1    2000-01-02  2000   1   2      6.9
2    2000-01-03  2000   1   3      9.2
3    2000-01-04  2000   1   4      9.8
4    2000-01-05  2000   1   5      9.3
...         ...   ...  ..  ..      ...
8761 2023-12-27  2023  12  27      8.4
8762 2023-12-28  2023  12  28      7.0
8763 2023-12-29  2023  12  29      7.8
8764 2023-12-30  2023  12  30      9.0
8765 2023-12-31  2023  12  31      9.2

[8766 rows x 5 columns]

In [357]:
df_new.iat[0,0] = str(df_new.iat[0,0])
print(df_new.iat[0,0])

2000-01-01 00:00:00

In [358]:
df = df_new.set_index('日付')
df

               年   月   日  平均気温(℃)
日付
2000-01-01  2000   1   1      8.6
2000-01-02  2000   1   2      6.9
2000-01-03  2000   1   3      9.2
2000-01-04  2000   1   4      9.8
2000-01-05  2000   1   5      9.3
...          ...  ..  ..      ...
2023-12-27  2023  12  27      8.4
2023-12-28  2023  12  28      7.0
2023-12-29  2023  12  29      7.8
2023-12-30  2023  12  30      9.0
2023-12-31  2023  12  31      9.2

[8766 rows x 4 columns]

In [359]:
str(df.index[0])

'2000-01-01 00:00:00'

In [360]:
# dfを10個ずつに分割

# N = 10 
# splited_df = [df[i:i+N] for i in range(0, len(df), N)]

# 年毎に分割

split_day = [0]

for i in range(len(df)):
    if df.iat[i,1] == 12 and df.iat[i,2] == 31:
        split_day.append(i+1)

splited_df = []
splited_df = [df[split_day[i]:split_day[i+1]] for i in range(len(split_day)-1)]
              
splited_df[0]

               年   月   日  平均気温(℃)
日付
2000-01-01  2000   1   1      8.6
2000-01-02  2000   1   2      6.9
2000-01-03  2000   1   3      9.2
2000-01-04  2000   1   4      9.8
2000-01-05  2000   1   5      9.3
...          ...  ..  ..      ...
2000-12-27  2000  12  27      6.0
2000-12-28  2000  12  28      6.4
2000-12-29  2000  12  29      6.5
2000-12-30  2000  12  30      5.3
2000-12-31  2000  12  31      8.1

[366 rows x 4 columns]

In [361]:
splited_df[0].iat[0,0]

2000

In [362]:
s_df = []

for i in range(len(splited_df)):
    s = splited_df[i]
    year = s.iat[0,0]
    splited_df[i] = s.rename(columns={'平均気温(℃)': year})
    
    s_df.append(splited_df[i].drop(splited_df[i].columns[[0]], axis=1))
    
s_df[1][55:65]

            月   日  2001
日付
2001-02-25  2  25   5.9
2001-02-26  2  26   5.1
2001-02-27  2  27   8.0
2001-02-28  2  28  11.2
2001-03-01  3   1   7.1
2001-03-02  3   2   6.1
2001-03-03  3   3   7.6
2001-03-04  3   4   7.4
2001-03-05  3   5   8.3
2001-03-06  3   6  10.3

In [363]:
s_df[1].columns.values[2]

2001

In [364]:
from datetime import datetime as dt

In [365]:
tmp_date = str(2020) + '-02-01 00:00:00'
tmp_date = dt.strptime(tmp_date, '%Y-%m-%d %H:%M:%S')
print(tmp_date)

2020-02-01 00:00:00

In [366]:
# うるう年を追加したい
# うるう年ではない年でも2/29を追加し、前日と翌日の平均としておく

for k in range(len(s_df)):
    s = s_df[k]
    for i in range(len(s)):
        if s.iat[i,0] == 2 and s.iat[i,1] == 28 and s.iat[i+1,0] == 3:
            year = str(s.columns.values[2])+'-02-29 00:00:00'
            tmp_date = dt.strptime(year, '%Y-%m-%d %H:%M:%S')
            print(tmp_date)
            df_front = s[0:i+1]
            df_mid = pd.DataFrame({'月': [2],
                                   '日': [29]},
                                  index = [tmp_date])
            df_back = s[i+1:]
            df_tmp = pd.concat([df_front,df_mid])
            df_tmp = pd.concat([df_tmp,df_back])
            s_df[k] = df_tmp
            
s_df[1][55:65]

ValueError: day is out of range for month

In [384]:
df_cat = s_df[0]
df_cat

             月   日  2000
日付
2000-01-01   1   1   8.6
2000-01-02   1   2   6.9
2000-01-03   1   3   9.2
2000-01-04   1   4   9.8
2000-01-05   1   5   9.3
...         ..  ..   ...
2000-12-27  12  27   6.0
2000-12-28  12  28   6.4
2000-12-29  12  29   6.5
2000-12-30  12  30   5.3
2000-12-31  12  31   8.1

[366 rows x 3 columns]

In [385]:
# うるう年は一旦無くす
df_cat = pd.merge(df_cat, s_df[1])
df_cat

      月   日  2000  2001
0     1   1   8.6   7.5
1     1   2   6.9   8.3
2     1   3   9.2   7.8
3     1   4   9.8   4.7
4     1   5   9.3   5.7
..   ..  ..   ...   ...
360  12  27   6.0   6.9
361  12  28   6.4   6.9
362  12  29   6.5   6.0
363  12  30   5.3   7.7
364  12  31   8.1   6.0

[365 rows x 4 columns]

In [386]:
for i in range(1,len(s_df)):
    df_cat = pd.merge(df_cat, s_df[i] )
df_cat

,月,日,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,1,8.6,7.5,7.1,5.1,10.2,4.5,3.6,5.8,...,9.6,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6
1,1,2,6.9,8.3,5.2,3.4,9.9,4.8,4.0,8.3,...,7.3,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2
2,1,3,9.2,7.8,4.1,0.5,9.6,7.3,3.7,8.6,...,5.9,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8
3,1,4,9.8,4.7,6.5,6.2,8.5,11.6,4.0,7.5,...,6.5,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6
4,1,5,9.3,5.7,5.7,4.2,6.8,5.3,3.6,7.1,...,5.4,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,12,27,6.0,6.9,4.2,4.3,7.5,4.8,14.7,7.0,...,4.6,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4
361,12,28,6.4,6.9,3.5,7.0,7.7,4.7,11.5,8.0,...,3.8,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0
362,12,29,6.5,6.0,5.1,8.1,3.2,5.2,6.4,10.6,...,4.2,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8
363,12,30,5.3,7.7,5.5,9.0,5.3,5.3,6.8,9.5,...,6.6,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0
364,12,31,8.1,6.0,5.6,8.2,2.1,5.1,6.8,6.5,...,8.0,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2

In [387]:
# df_cat.to_csv("temp_data.csv")

In [388]:
df_cat

,月,日,2000,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,1,8.6,7.5,7.1,5.1,10.2,4.5,3.6,5.8,...,9.6,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6
1,1,2,6.9,8.3,5.2,3.4,9.9,4.8,4.0,8.3,...,7.3,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2
2,1,3,9.2,7.8,4.1,0.5,9.6,7.3,3.7,8.6,...,5.9,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8
3,1,4,9.8,4.7,6.5,6.2,8.5,11.6,4.0,7.5,...,6.5,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6
4,1,5,9.3,5.7,5.7,4.2,6.8,5.3,3.6,7.1,...,5.4,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,12,27,6.0,6.9,4.2,4.3,7.5,4.8,14.7,7.0,...,4.6,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4
361,12,28,6.4,6.9,3.5,7.0,7.7,4.7,11.5,8.0,...,3.8,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0
362,12,29,6.5,6.0,5.1,8.1,3.2,5.2,6.4,10.6,...,4.2,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8
363,12,30,5.3,7.7,5.5,9.0,5.3,5.3,6.8,9.5,...,6.6,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0
364,12,31,8.1,6.0,5.6,8.2,2.1,5.1,6.8,6.5,...,8.0,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2

In [389]:
df_cat['日付'] = 0
df_cat

,月,日,2000,2001,2002,2003,2004,2005,2006,2007,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,日付
0,1,1,8.6,7.5,7.1,5.1,10.2,4.5,3.6,5.8,...,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6,0
1,1,2,6.9,8.3,5.2,3.4,9.9,4.8,4.0,8.3,...,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2,0
2,1,3,9.2,7.8,4.1,0.5,9.6,7.3,3.7,8.6,...,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8,0
3,1,4,9.8,4.7,6.5,6.2,8.5,11.6,4.0,7.5,...,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6,0
4,1,5,9.3,5.7,5.7,4.2,6.8,5.3,3.6,7.1,...,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,12,27,6.0,6.9,4.2,4.3,7.5,4.8,14.7,7.0,...,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4,0
361,12,28,6.4,6.9,3.5,7.0,7.7,4.7,11.5,8.0,...,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0,0
362,12,29,6.5,6.0,5.1,8.1,3.2,5.2,6.4,10.6,...,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8,0
363,12,30,5.3,7.7,5.5,9.0,5.3,5.3,6.8,9.5,...,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0,0
364,12,31,8.1,6.0,5.6,8.2,2.1,5.1,6.8,6.5,...,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2,0

In [390]:
# 順番を入れ替えたい列を保持
target_col = "日付"
df_target = df_cat[target_col]

# 入れ替え対称の列を削除
df_cat = df_cat.drop(target_col, axis=1)

# 任意の場所に対象の列を挿入
df_cat.insert(0, target_col, df_target)

df_cat

,日付,月,日,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,1,1,8.6,7.5,7.1,5.1,10.2,4.5,3.6,...,9.6,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6
1,0,1,2,6.9,8.3,5.2,3.4,9.9,4.8,4.0,...,7.3,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2
2,0,1,3,9.2,7.8,4.1,0.5,9.6,7.3,3.7,...,5.9,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8
3,0,1,4,9.8,4.7,6.5,6.2,8.5,11.6,4.0,...,6.5,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6
4,0,1,5,9.3,5.7,5.7,4.2,6.8,5.3,3.6,...,5.4,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,0,12,27,6.0,6.9,4.2,4.3,7.5,4.8,14.7,...,4.6,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4
361,0,12,28,6.4,6.9,3.5,7.0,7.7,4.7,11.5,...,3.8,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0
362,0,12,29,6.5,6.0,5.1,8.1,3.2,5.2,6.4,...,4.2,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8
363,0,12,30,5.3,7.7,5.5,9.0,5.3,5.3,6.8,...,6.6,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0
364,0,12,31,8.1,6.0,5.6,8.2,2.1,5.1,6.8,...,8.0,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2

In [391]:
for i in range(len(df_cat)):
    df_cat.iat[i,0] = str(df_cat.iat[i,1]) + '月' + str(df_cat.iat[i,2]) + '日'
df_cat

,日付,月,日,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1月1日,1,1,8.6,7.5,7.1,5.1,10.2,4.5,3.6,...,9.6,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6
1,1月2日,1,2,6.9,8.3,5.2,3.4,9.9,4.8,4.0,...,7.3,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2
2,1月3日,1,3,9.2,7.8,4.1,0.5,9.6,7.3,3.7,...,5.9,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8
3,1月4日,1,4,9.8,4.7,6.5,6.2,8.5,11.6,4.0,...,6.5,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6
4,1月5日,1,5,9.3,5.7,5.7,4.2,6.8,5.3,3.6,...,5.4,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,12月27日,12,27,6.0,6.9,4.2,4.3,7.5,4.8,14.7,...,4.6,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4
361,12月28日,12,28,6.4,6.9,3.5,7.0,7.7,4.7,11.5,...,3.8,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0
362,12月29日,12,29,6.5,6.0,5.1,8.1,3.2,5.2,6.4,...,4.2,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8
363,12月30日,12,30,5.3,7.7,5.5,9.0,5.3,5.3,6.8,...,6.6,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0
364,12月31日,12,31,8.1,6.0,5.6,8.2,2.1,5.1,6.8,...,8.0,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2

In [392]:
df_cat.iat[0,0]

'1月1日'

In [397]:
df_sum = df_cat.drop(df.columns[[1,2]], axis=1)
# df_sum = df_sum.T
df_sum

,日付,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1月1日,8.6,7.5,7.1,5.1,10.2,4.5,3.6,5.8,6.0,...,9.6,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6
1,1月2日,6.9,8.3,5.2,3.4,9.9,4.8,4.0,8.3,6.2,...,7.3,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2
2,1月3日,9.2,7.8,4.1,0.5,9.6,7.3,3.7,8.6,5.9,...,5.9,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8
3,1月4日,9.8,4.7,6.5,6.2,8.5,11.6,4.0,7.5,7.0,...,6.5,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6
4,1月5日,9.3,5.7,5.7,4.2,6.8,5.3,3.6,7.1,6.0,...,5.4,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,12月27日,6.0,6.9,4.2,4.3,7.5,4.8,14.7,7.0,6.0,...,4.6,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4
361,12月28日,6.4,6.9,3.5,7.0,7.7,4.7,11.5,8.0,7.3,...,3.8,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0
362,12月29日,6.5,6.0,5.1,8.1,3.2,5.2,6.4,10.6,9.9,...,4.2,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8
363,12月30日,5.3,7.7,5.5,9.0,5.3,5.3,6.8,9.5,9.0,...,6.6,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0
364,12月31日,8.1,6.0,5.6,8.2,2.1,5.1,6.8,6.5,6.6,...,8.0,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2

In [402]:
df_sum.to_csv("temp_data.csv")

In [404]:
# df_sum = df_sum.set_index('日付')
df_sum

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
日付,,,,,,,,,,,,,,,,,,,,,
1月1日,8.6,7.5,7.1,5.1,10.2,4.5,3.6,5.8,6.0,6.2,...,9.6,3.7,7.5,7.4,6.2,5.3,5.5,4.4,3.4,6.6
1月2日,6.9,8.3,5.2,3.4,9.9,4.8,4.0,8.3,6.2,6.9,...,7.3,2.7,7.3,7.2,6.1,6.2,6.2,4.8,3.5,6.2
1月3日,9.2,7.8,4.1,0.5,9.6,7.3,3.7,8.6,5.9,6.6,...,5.9,3.8,9.3,8.0,4.9,4.9,6.1,3.7,5.5,5.8
1月4日,9.8,4.7,6.5,6.2,8.5,11.6,4.0,7.5,7.0,7.5,...,6.5,4.0,9.2,8.5,4.7,5.1,7.2,5.8,5.2,5.6
1月5日,9.3,5.7,5.7,4.2,6.8,5.3,3.6,7.1,6.0,8.5,...,5.4,6.9,10.9,6.7,3.7,7.4,5.4,6.0,4.1,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12月27日,6.0,6.9,4.2,4.3,7.5,4.8,14.7,7.0,6.0,9.4,...,4.6,7.3,11.1,4.5,9.0,8.7,7.8,2.7,6.8,8.4
12月28日,6.4,6.9,3.5,7.0,7.7,4.7,11.5,8.0,7.3,9.4,...,3.8,6.0,6.0,4.8,4.8,6.8,8.5,3.8,6.5,7.0
12月29日,6.5,6.0,5.1,8.1,3.2,5.2,6.4,10.6,9.9,8.1,...,4.2,6.3,4.3,6.1,4.3,7.0,8.7,4.2,8.1,7.8
12月30日,5.3,7.7,5.5,9.0,5.3,5.3,6.8,9.5,9.0,9.2,...,6.6,7.2,6.0,6.2,4.8,6.7,6.9,6.5,6.6,9.0
12月31日,8.1,6.0,5.6,8.2,2.1,5.1,6.8,6.5,6.6,6.2,...,8.0,6.6,6.3,3.8,4.9,8.2,3.4,3.2,5.7,9.2

In [408]:
df_sum.columns[2015]

IndexError: index 2015 is out of bounds for axis 0 with size 24